@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">            
            <li class="@Url.IsLinkActive("Index", "Apartamento")">
                <a href="@Url.Action("Index", "Apartamento")"><i class="fa fa-home"></i> <span>Apartamentos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Morador")">
                <a href="@Url.Action("Index", "Morador")"><i class="fa fa-user"></i> <span>Moradores</span></a>
            </li>
        </ul>
    </section>
</aside>