<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <input type="submit" class="btn btn-success" name="btSubmit" value="Salvar" />
            <input type="button" class="btn btn-default" name="btVoltar" value="Voltar" />
        </div>
    </div>
</div>
