@using System.Web.Optimization
@{
    ViewBag.Title = "Moradores";
    ViewBag.Description = "Listagem";
}

@model Condominio.Web.Models.MoradorViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <a class="btn btn-default" href="~/Morador/Add">Adicionar Morador</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">                            
                            <input type="search" name="search" class="form-control pull-right" placeholder="Buscar ..." />
                        </div>
                    </div>
                </div>                                
                <table class="table table-striped" id="tabela-moradores">
                    <thead>
                        <tr>
                            <th width="25%">Nome</th>
                            <th width="15%">E-mail</th>
                            <th width="20%">Telefone</th>
                            <th width="15%">Bloco</th>
                            <th width="15%">Apartamento</th>
                            <th width="10%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("~/Views/Morador/Tabela.cshtml", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/js/morador")
}
