@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Apartamentos";
}

@model Condominio.Web.Models.ApartamentoViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="box box-default">
            <div class="box-body">
                <a class="btn btn-default" href="~/Apartamento/Add">Adicionar Apartamento</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="15%">Número</th>
                            <th width="15%">Bloco</th>
                            <th width="60%">Responsável</th>
                            <th width="10%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("~/Views/Apartamento/Tabela.cshtml", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/js/apartamento")
}            